# Qbittorrent

TIMEZONE=Europe/Paris

QBITTORRENT_VERSION=latest

# Ports
PORT_QBITTORRENT_WEB=8073
PORT_QBITTORRENT_TORRENTING=6881

# Gluetun
WIREGUARD_PRIVATE_KEY=xxx
WIREGUARD_PRESHARED_KEY=xxx
WIREGUARD_ADDRESSES=10.0.0.0/32
