# Qbittorrent

TIMEZONE=Europe/Paris

QBITTORRENT_VERSION=latest

# Ports
PORT_QBITTORRENT_WEB=8073
PORT_QBITTORRENT_TORRENTING=19791

# Gluetun
WIREGUARD_PRIVATE_KEY=wireguard_private_key
WIREGUARD_PRESHARED_KEY=wireguard_preshared_key
WIREGUARD_ADDRESSES=10.132.60.165/32
