# Your Spotify

TZ=Europe/Paris

APP_URL=https://spotify.example.com
SPOTIFY_PUBLIC=spotify_public
SPOTIFY_SECRET=spotify_secret
CORS=http://192.168.66.65:3240,https://192.168.66.65:3241,https://example.com,https://spotify.example.com
MONGO_ENDPOINT=mongodb://mongo:27017/your_spotify

# Ports

PORT_YOUR_SPOTIFY_HTTP=3240
PORT_YOUR_SPOTIFY_HTTPS=3241
